* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("imgs/giphy(1).webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Happy Monkey, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  padding: 20px;

  border: 10px double #ed5983;
  color: #f5f4f4;
}

/* .wish-title{
    
} */
#head {
  margin-top: 32px;
  font-size: 28px;
  font-weight: 1100;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  
}
#happ{
  margin-top: 32px;
  font-size: 39px;
  font-weight: 1100;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}
#to{
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}
.profile {
  margin: 32px 0 0 45px;
  padding: 0;
  display: grid;
  justify-content: center;
}
.profile img {
  width: 150px;
  height: 150px;
  margin: 10px;
  border: 8px double #ed5983;
  border-radius: 40px;
}
/* .color-theme{

}     */
.color {
  display: grid;
  justify-content: right;
  grid-template-rows: 1fr 1fr 1fr;
  float: right;
  margin-top: 100px;
  gap: 10px;
}
.color li {
  list-style: none;
  padding: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  text-align: center;
  border-radius: 100px;
  margin-left: 10px;
}
.red {
  /* background: #ed5983; */
  background-image: url("imgs/giphy1.webp");
  background-position: center;
  background-size: cover;
}
.blue {
  /* background: #70b5fa; */
  background-image: url("imgs/giphy.webp");
  background-position: center;
  background-size: cover;
}
.yellow {
  /* background: #f1f861; */
  background-image: url("imgs/giphy(1).webp");
  background-position: center;
  background-size: cover;
}

.detail {
  margin-right: 4px;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  margin-top: 20px;
  margin-left: 55px;
}
.date {
  background: #ed5983;
  color: #f5f4f4;
  text-align: center;
  font-size: 16px;
  border: 4px double #ed5983;
  padding: 5px;
  border-radius: 8px;
}
.wish {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  margin-top: 20px;
}
.wish-t {
  text-align: center;
  font-size: 18px;
  margin: 20px 0 10px 0;
  font-style: italic;
}
#wish-t {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  font-weight: bolder;
}

.wish-t span {
  margin: 25px 0 0 2px;
  font-style: italic;
  font-size: 18px;
}
/* text seize increaser */
.text-seize {
  font-size: larger;
  font-weight: bold;
}
.gift-section {
  display: grid;
  justify-content: center;
}
.gifts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
#gift_item_1,
#gift_item_2 img {
  width: 150px;
  height: 150px;
  border-radius: 6.1px;
}
#gift_item_1 {
  height: 150px;
  width: 150px;
  border: 4px solid #ed5983;
  border-radius: 10px;
  background-image: url("imgs/gift-cover.jpg");
  background-position: center;
  background-size: cover;
}
#gift_item_2 {
  height: 150px;
  width: 150px;
  border: 4px solid #ed5983;
  border-radius: 10px;
  background-image: url("imgs/gift-cover.jpg");
  background-position: center;
  background-size: cover;
}


/*This IS Gift Section 2 */
.gift-section-2 {
  display: grid;
  justify-content: center;
}
#gift-item-2 img {
  width: 210px;
  height: 170px;
  border-radius: 6.2px;
}
#gift-item-2 {
  margin: 30px 0 20px 0;
  height: 170px;
  width: 210px;
  border: 4px solid #ed5983;
  border-radius: 10px;
  background-image: url("imgs/gift-cover.jpg");
  background-position: center;
  background-size: cover;
}
/* Gift Section 2 Media Quaery */
@media (max-width: 320px) {
  #gift-item-2 img {
    width: 170px;
    height: 120px;
    border-radius: 6.2px;
  }
  #gift-item-2 {
    margin: 30px 0 20px 0;
    height: 120px;
    width: 170px;
    border: 4px solid #ed5983;
    border-radius: 10px;
    background-image: url("imgs/gift-cover.jpg");
    background-position: center;
    background-size: cover;
  }

}
@media (min-width: 321px) {
  #gift-item-2 img {
    width: 170px;
    height: 210px;
    border-radius: 6.2px;
  }
  #gift-item-2 {
    margin: 30px 0 20px 0;
    height: 170px;
    width: 210px;
    border: 4px solid #ed5983;
    border-radius: 10px;
    background-image: url("imgs/gift-cover.jpg");
    background-position: center;
    background-size: cover;
  }

}
.contact {
  display: grid;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgb(237, 89, 131, 0.5), rgb(237, 89, 131, 0.5));
  padding: 5px;
  height: 100px;
  font: unset;
  font-family: Happy Monkey, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0 0 8px 8px;
  /* border: 8px double #ffffff;
    
    border-radius: ;*/
}
.con-info p {
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  color: #f5f4f4;
}
.dev-name {
  font-size: 14px;
  font-weight: bolder;
  color: #000000;
}
.social-links {
  display: flex;
  gap: 10px;
  height: 10px;
  margin-top: 5px;
  margin-left: 35px;
}
.whats {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.social-links img {
  width: 16px;
  padding: 5px;
}
.num,
.email-add {
  margin-bottom: 5px;
  color: #f5f4f4;
}
.email {
  display: flex;
  align-items: center;
  font-size: 12px;
  
}
@media (max-width: 321px) {
  .main{
    padding: 10px;
  }
  #head {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -10px;
  }
  #happ{
    margin-top: 2px;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    line-height: 39px;
    margin-bottom: -80px;
  }
  #name{
    margin-bottom: 50px;
    font-size: 20px;
  }
  #to{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: -80px;
    margin-top: 0;
    
  }
  .date{
    padding: 2px;
    font-size: 12px;
  }
  .wish-t{
    font-size: 14px;
    margin: 20px 0  0;
  }
  .wish-t span{
    font-size: 12px;
  }
  /* .wish-t h3{
    
  } */
  #wish-t{
    font-size: 12px;
    margin: 20px 0 0 0px;
  }
  .gifts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  #gift_item_1,
  #gift_item_2 img {
    width: 120px;
    height: 120px;
    border-radius: 6.1px;
  }
  #gift_item_1 {
    height: 120px;
    width: 120px;
    border: 4px solid #ed5983;
    border-radius: 10px;
    background-image: url("imgs/gift-cover.jpg");
    background-position: center;
    background-size: cover;
  }
  #gift_item_2 {
    height: 120px;
    width: 120px;
    border: 4px solid #ed5983;
    border-radius: 10px;
    background-image: url("imgs/gift-cover.jpg");
    background-position: center;
    background-size: cover;
  }
  .con-info p{
    font-size: 6px;
    font-weight: 400;
  }
  .whats,
  .email p{
    font-size: 8px;
  }
.social-links{
  margin-left: 40px;
}
}
@media (min-width: 321px) {
  #head {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5px;
  }
  #happ{
    margin-top: 32px;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    line-height: 39px;
  }
  #to{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
  }
  .date{
    padding: 3px;
    font-size: 14px;
  }
  .wish-t{
    font-size: 16px;
    margin: 20px 0  0;
  }
  .wish-t span{
    font-size: 14px;
  }
  /* .wish-t h3{
    
  } */
  #wish-t{
    font-size: 14px;
    margin: 20px 0 0 0px;
  }
  .gifts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  #gift_item_1,
  #gift_item_2 img {
    width: 140px;
    height: 140px;
    border-radius: 6.1px;
  }
  #gift_item_1 {
    height: 140px;
    width: 140px;
    border: 4px solid #ed5983;
    border-radius: 10px;
    background-image: url("imgs/gift-cover.jpg");
    background-position: center;
    background-size: cover;
  }
  #gift_item_2 {
    height: 140px;
    width: 140px;
    border: 4px solid #ed5983;
    border-radius: 10px;
    background-image: url("imgs/gift-cover.jpg");
    background-position: center;
    background-size: cover;
  }
  .con-info p{
    font-size: 8px;
    font-weight: 400;
  }
  .whats,
  .email p{
    font-size: 9px;
  }
  .social-links{
    margin-left: 25px;
  }
}
@media (max-width: 375px) {
  .social-links{
    margin-left: 8px;
  }
  
}
@media (min-width: 425px) {
  .social-links{
    margin-left: 50px;
  }
  
}
@media (min-width: 768px ) {
  .main{
    border: 12px double #ed5983;
  }
  #head {
    margin-top: 32px;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
  }
  #happ{
    margin-top: 32px;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    
  }
  #to{
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .profile{
     margin-left: 65px;
  }
  .profile img {
    width: 200px;
    height: 190px;
    margin: 10px;
    border: 10px double #ed5983;
    border-radius: 40px;
  }
  .gifts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  #gift_item_1,
  #gift_item_2 img {
    width: 240px;
    height: 220px;
    border-radius: 6.1px;
  }
  #gift_item_1 {
    height: 220px;
    width: 240px;
    border: 6px solid #ed5983;
    border-radius: 10px;
    background-image: url("imgs/gift-cover.jpg");
    background-position: center;
    background-size: cover;
  }
  #gift_item_2 {
    height: 220px;
    width: 240px;
    border: 6px solid #ed5983;
    border-radius: 10px;
    background-image: url("imgs/gift-cover.jpg");
    background-position: center;
    background-size: cover;
  }
  .con-info p{
    font-size: 12px;
    font-weight: 400;
  }
  .whats,
  .email p{
    font-size: 14px;
  }
  .gift-section-2 {
    display: grid;
    justify-content: center;
  }
  #gift-item-2 img {
    width: 300px;
    height: 210px;
    border-radius: 6.2px;
  }
  #gift-item-2 {
    margin: 30px 0 20px 0;
    height: 210px;
    width: 300px;
    border: 6px solid #ed5983;
    border-radius: 10px;
    background-image: url("imgs/gift-cover.jpg");
    background-position: center;
    background-size: cover;
  }
  .social-links{
    margin-left: 80px;
  }
  .color li{
    width: 40px;
    height: 40px;
    border: 4px solid white;
  }
  .color{
    gap: 20px;
    margin-top: 150px;
  }
  .detail{
    margin-right: 0px;
    margin-left: 60px;
  }
  .wish-t{
    font-size: 26px;
  }
  .wish-t span{
    font-size: 20px;
    margin: 10px 0 20px 0px;

  }
  /* .wish h3{
    /* margin: 20px 0 30px 0px; 
  } */
  #wish-t {
    font-size: 20px;
  }
  .wish{
    margin-left: 60px;
  }
  #gift_item_2:hover {
    cursor: pointer;
    transition: 2s;
    background-image: url("imgs/giphy\ \(4\).gif");
  }
  #gift_item_1:hover {
    cursor: pointer;
    transition: 2s;
    background-image: url("imgs/giphy\ \(4\).gif");
  }
  #gift-item-2:hover {
    cursor: pointer;
    transition: 2s;
    background-image: url("imgs/giphy\ \(4\).gif");
  }
}
  
